@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .dropdown-menu {
    position: absolute !important;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 10%);
    min-width: 200px;
    transition: all 300ms ease-in;
  }
}
@media (max-width: 991px) {
  .navbar {
    background: #000 !important;
    height: 70px !important;
  }
  .navbar_link {
    border-bottom: 1px solid #ededed33;
    line-height: 40px !important;
  }
  .navbar_content {
    min-width: 100%;
    padding: 0 10%;
    background: #000;

    a {
      color: #fff !important;
      font: 700 14px/40px 'Rubik', sans-serif !important;
    }
  }
}
a {
  color: #000 !important;
}
.navbar {
  height: 100px;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  line-height: 26px;
  color: #777;
  font-weight: 400;
  z-index: 1000 !important;
  background: #fff;
  .nav-link {
    padding: 0 !important;
  }
  .dropdown-toggle::after {
    border: none !important;
  }
  .navbar_link_last {
    margin-right: 0px !important;
  }
  .me-auto {
    color: transparent !important;
  }
}

.navbar_link {
  margin-right: 45px !important;
  padding: 0 !important;
  line-height: 45px;
  :hover {
    color: #4458dc !important;
  }
  :active {
    color: #4458dc !important;
  }
  a {
    font: 700 14px/100px 'Rubik', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    padding: 0;
    display: inline-block;
  }
}
.dropdown-menu {
  padding: 0 !important;
  border-radius: 0;
  border: none;
  .nav-item {
    :hover {
      background: #4458dc;
      a {
        color: #fff !important;
      }
    }
  }
  .dropdown-item {
    color: #000 !important;
    line-height: 45px;
    padding: 0 30px;
    border-bottom: 1px solid #ededed;
    a {
      color: #000 !important;
      text-transform: none;
      font: 500 14px 'Rubik', sans-serif;
    }
  }
}
